/*Loader*/
.cmplz-loader {
  margin: 0;
  width: 50px;
  height: 15px;
  text-align: center;
  font-size: 10px;
}
.cmplz-shortcode {
  right: 10000px;
  position: absolute;
  background-color: #fff;
  padding: 0;
  white-space: nowrap;
}
.cmplz-notice-hook-element {
  display: none;
}
.cmplz-loader > div {
  margin: 1px;
  background-color: #333;
  height: 100%;
  width: 3px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.cmplz-loader .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.cmplz-loader .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.cmplz-loader .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.cmplz-loader .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
/*
    Hide nags from other plugins
*/
.error:not(.really-simple-plugins),
.notice:not(.really-simple-plugins),
.update-nag:not(.really-simple-plugins),
.notice-info:not(.really-simple-plugins) {
  display: none !important;
}
#complianz {
  margin: 0 0 0 -20px;
  /**
	icons
	 */
}
#complianz .cmplz-selectable {
  -webkit-touch-callout: all;
  /* iOS Safari */
  -webkit-user-select: all;
  /* Safari */
  -khtml-user-select: all;
  /* Konqueror HTML */
  -moz-user-select: all;
  /* Firefox */
  -ms-user-select: all;
  /* Internet Explorer/Edge */
  user-select: all;
  /* Chrome and Opera */
}
#complianz .cmplz-region-indicator {
  display: flex;
  align-items: center;
}
#complianz .cmplz-region-indicator img {
  width: 25px;
  height: 25px;
  margin-left: 5px;
}
#complianz .cmplz-documents .cmplz-region-indicator img {
  width: 14px;
  height: 14px;
  margin-left: 0;
}
#complianz #cmplz-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
}
#complianz #cmplz-header img {
  margin-left: 15px;
  width: 120px;
  height: 28px;
}
#complianz #cmplz-header .cmplz-header-right {
  display: flex;
  align-items: center;
}
#complianz #cmplz-header .cmplz-header-right a {
  margin-right: 15px;
}
#complianz #cmplz-content-area {
  margin: 10px;
}
#complianz .cmplz-icon.cmplz-success {
  color: #61ce70;
}
#complianz .cmplz-icon.cmplz-success svg {
  stroke: #61ce70;
  fill: #61ce70;
}
#complianz .cmplz-icon.cmplz-success.documents-shortcode {
  color: #000;
}
#complianz .cmplz-icon.cmplz-disabled {
  color: #d7d7d7;
}
#complianz .cmplz-icon.cmplz-disabled svg {
  stroke: #d7d7d7;
  fill: #d7d7d7;
}
#complianz .cmplz-icon:hover {
  color: #000;
}
#complianz .cmplz-icon.cmplz-bullet {
  height: 11px;
  width: 11px;
  margin-top: 2px;
}
#complianz .cmplz-icon.cmplz-bullet.cmplz-disabled {
  background-color: #d7d7d7;
}
#complianz .cmplz-icon.cmplz-bullet.cmplz-success {
  background-color: #27ADEA;
}
#complianz .cmplz-graph-container {
  width: 80%;
}
#complianz .cmplz-insights .cmplz-graph-container {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#complianz .cmplz-insights canvas.cmplz-graph {
  height: 85px !important;
}
/*# sourceMappingURL=admin.css.map */